{% extends "account/base.html" %}

{% load account socialaccount %}

{% block head_title_extra %}Log in{% endblock %}

{% block form_content %}
<h4 class="center">Log in to fabrik</h4>
<form class="row nomb" method="POST">
  {% csrf_token %}
  <div class="input-field col s12">
    <i class="material-icons prefix">person_outline</i>
    {{ form.login }}
    {{ form.login.label_tag }}
    <span class="helper-text" data-error="Is this valid?" data-success="Looks good!">{{ form.login.errrors }}</span>
  </div>


  <div class="input-field col s12">
    <i class="material-icons prefix">lock_outline</i>
    {{ form.password }}
    {{ form.password.label_tag }}
    <span class="helper-text" data-error="Enter a valid password">{{ form.password.errors }}</span>
  </div>

  <div class="input-field col s12">
    <p>
      <label>
        {{ form.remember }}
        <span>Remember me</span>
      </label>
    </p>
  </div>

  <div class="input-field col s12">
    <button class="btn-large waves-effect waves-light submit light-blue darken-4" type="submit" id="submit">Log in</button>
    <div class="moreops">or log in with</div>
    <div class="social-login">
      <a href="{% provider_login_url 'github' %}" class="github"><i class="fa fa-github"></i></a>
      <a href="{% provider_login_url 'google' %}" class="google"><i class="fa fa-google"></i></a>
    </div>
  </div>
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
</form>
{% endblock %}
