{% extends "account/base.html" %}

{% load account socialaccount %}

{% block head_title %}Sign in{% endblock %}
{% block extra_head %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="/static/css/auth.css" rel="stylesheet">{% endblock %}
{% block content %}
<div class="limiter">
  <div class="container-login">
    <div class="wrap-login">
      <form class="login-form validate-form">
        {% csrf_token %}
        <span class="login-form-title">
          <img class="logo" src="/static/img/logo.png">
        </span>

        <div class="wrap-input validate-input" data-validate="{{ form.username.errrors }}">
          {{ form.username }}
          <span class="focus-input"></span>
        </div>

        <div class="wrap-input validate-input" data-validate="{{ form.email.errors }}">
          {{ form.email }}
          <span class="focus-input"></span>
        </div>

        <div class="wrap-input validate-input" data-validate="{{ form.password1.errors }}">
            {{ form.password1 }}
            <span class="focus-input"></span>
          </div>

        <div class="wrap-input validate-input" data-validate="{{ form.password2.errors }}">
            {{ form.password2 }}
            <span class="focus-input"></span>
          </div>
        </div>

        <div class="container-login-form-btn">
          <button class="login-form-btn">Sign Up</button>
        </div>
        <div class="txt2">Or sign up with</div>
        <a href="#" class="btn-github">
          <i class="fa fa-github"></i>
          Github
        </a>
        <a href="#" class="btn-google">
          <i class="fa fa-google"></i>
          Google
        </a>
        <div class="txt2">
          Already have an account?<a href="{{ login_url }}">Log in!</a>
        </div>
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
