{% extends "account/base.html" %}

{% load account socialaccount %}

{% block head_title_extra %}Sign up{% endblock %}

{% block form_content %}
<h4 class="center">Sign up to fabrik</h4>
<form class="row nomb" method="POST">
  {% csrf_token %}
  <div class="input-field col s12">
    <i class="material-icons prefix">person_outline</i>
    {{ form.username }}
    {{ form.username.label_tag }}
    <span class="helper-text" data-error="Ouch! Try again" data-success="Looks good!">{{ form.username.errrors }}</span>
  </div>

  <div class="input-field col s12">
    <i class="material-icons prefix">mail_outline</i>
    {{ form.email }}
    {{ form.email.label_tag }}
    <span class="helper-text" data-error="Enter a valid email" data-success="Perfect!">{{ form.email.errors }}</span>
  </div>
  <div class="input-field col s12">
    <i class="material-icons prefix">lock_outline</i>
    {{ form.password1 }}
    {{ form.password1.label_tag }}
    <span class="helper-text" data-error="Enter a password -_-">{{ form.password1.errors }}</span>
  </div>
  <div class="input-field col s12">
    <i class="material-icons prefix">lock_outline</i>
    {{ form.password2 }}
    {{ form.password2.label_tag }}
    <span class="helper-text" data-error="Passwords do not match" data-success="You're good to go :)">{{ form.password2.errors }}</span>
  </div>

  <div class="input-field col s12">
    <button class="btn-large waves-effect waves-light submit light-blue darken-4" type="submit" id="submit">Sign up</button>
    <div class="moreops">or sign up with</div>
    <div class="social-login">
      <a href="{% provider_login_url 'github' %}" class="github"><i class="fa fa-github"></i></a>
      <a href="{% provider_login_url 'google' %}" class="google"><i class="fa fa-google"></i></a>
    </div>
  </div>
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
</form>
{% endblock %}
