{% extends "account/base.html" %}

{% load account socialaccount %}

{% block head_title %}Sign in{% endblock %}
{% block extra_head %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="/static/css/auth.css" rel="stylesheet">{% endblock %}
{% block content %}
<ul id="dropdown1" class="dropdown-content">
  <li><a href="account/login.html">Login</a></li>
  <li><a href="account/signup.html">Sign up</a></li>
</ul>

<nav class="light-blue darken-4">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo"><img class="logo" src="https://github.com/C0derLint/Fabrik/raw/master/ide/static/img/fabrik_t.png"></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
    <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">My account<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="{{ login_url }}">Login</a></li>
  <li><a href="{{ signup_url }}">Sign up</a></li>
</ul>
<div class="h-full valign-wrapper">
  <div class="mtop container">
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card">
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width ">
              <li class="tab"><a href="{{ login_url }}">Login</a></li>
              <li class="tab"><a href="{{ signup_url }}">Sign Up</a></li>
            </ul>
          </div>
          <div class="card-content">

            <h4 class="center">Sign up to fabrik</h4>
            <form class="row nomb" method="POST">
              {% csrf_token %}
              <div class="input-field col s12">
                <i class="material-icons prefix">person_outline</i>
                {{ form.username }}
                {{ form.username.label_tag }}
                <span class="helper-text" data-error="Ouch! Try again" data-success="Looks good!">{{ form.username.errrors }}</span>
              </div>

              <div class="input-field col s12">
                <i class="material-icons prefix">mail_outline</i>
                {{ form.email }}
                {{ form.email.label_tag }}
                <span class="helper-text" data-error="Enter a valid email" data-success="Perfect!">{{ form.email.errors }}</span>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                {{ form.password1 }}
                {{ form.password1.label_tag }}
                <span class="helper-text" data-error="Ouch! Try again">{{ form.password1.errors }}</span>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                {{ form.password2 }}
                {{ form.password2.label_tag }}
                <span class="helper-text" data-error="Passwords do not match" data-success="You're good to go :)">{{ form.password2.errors }}</span>
              </div>

              <div class="input-field col s12">
                <button class="btn-large waves-effect waves-light submit light-blue darken-4" type="submit" id="submit">Sign up</button>
                <div class="moreops">or sign up with</div>
                <div class="social-login">
                  <a href="{% provider_login_url 'github' %}" class="github"><i class="fa fa-github"></i></a>
                  <a href="{% provider_login_url 'google' %}" class="google"><i class="fa fa-google"></i></a>
                </div>
              </div>
              {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  $(".dropdown-trigger").dropdown();
  $(".sidenav").sidenav();

  $("#password2").one("focusin", function(e) {
    $("#password1, #password2").on("keyup", function(ev) {
      var samePasswords = $("#password1").val() == $("#password2").val();
      $("#password2").toggleClass("valid", samePasswords).toggleClass("invalid", !samePasswords);
    });
  });
</script>
{% endblock %}
